<div class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <img class="media-object" ng-src={{movie.Poster}}>
            </div>
            <div class="media-body">
                <h3 class="media-heading">{{movie.Title}} ({{movie.Year}})</h3>
                <ul id="movie-data">
                    <li>Actors: {{movie.Actors}}</li>
                    <li>Awards: {{movie.Awards}}</li>
                    <li>Country: {{movie.Country}}</li>
                    <li>Genre: {{movie.Genre}}</li>
                    <li>Plot: {{movie.Plot}}</li>
                    <li>Rated: {{movie.Rated}}</li>
                    <li>Runtime: {{movie.Runtime}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
